

// Colors
$almost-white: #F0F0F0;

$light-green: #8AC249;
$dark-green: #4CAF50;

$light-blue: #00BBD3;
$dark-blue: #283593;

$light-purple: #BA68C8;
$dark-purple: #6A1B9A;

$default-font-color: #333333;

$orange: #EF6C00;
$pink: #AD1457;
$yellow: #FFAB00;
$brown: #4E342E;
$red: #C62828;

$grey: #777777;

//Fonts
$biggest-font-size: 60px;
$bigger-font-size: 50px;
$big-font-size: 35px;
$regular-font-size: 25px;
$small-font-size: 18px;
$smaller-font-size: 14px;