nav {

  position: fixed;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  width: 100%;
  z-index: 9;

  &.scroll {
    background-color: $almost-white;
    border-bottom: 1px solid darken($almost-white, 5%);
    box-shadow: 0 0 3px rgba(0,0,0,0.25);

    .nav {
      &__text, &__icon {
        a {
          color: lighten($default-font-color, 50%);
          font-weight: 600;
        }
        .active {
          color: $default-font-color;
        }
      }
    }
  }

  .nav {
    list-style-type: none;
    text-align: right;
    text-transform: uppercase;
    padding: 0;

    &__text, &__icon {
      a {
        color: $almost-white;
        text-decoration: none;
      }
    }

    &__text {
      display: inline;
      padding: 20px;
    }

    &__icon {
      display: none;
    }

  }
}


@media (max-width: $screen-xs-max) {
  nav {
    .nav {
      text-align: center;

      &__text {
        display: none;
      }

      &__icon {
        display: inline;
        font-size: $regular-font-size;
        border: 1px solid $almost-white;
        border-radius: 4px;
        padding: 5px 10px;
        margin: 20px 5px;
      }
    }
  }
}